mj-section(padding-left="41px" padding-right="38px")
    mj-column(css-class="date-padding" width="33.333333%" vertical-align="top")
        mj-text(padding-left="21px" color="#032E61" font-weight="400" font-size="14px" line-height="16px") Date
        mj-button(padding-left="21px" padding-top="14px" inner-padding="9px 20px 9px 20px" align="left" font-weight="600" font-size="13px" line-height="17px" border-radius="24px" color="#032E61" background-color="#FFFFFF") Get a kitten
    mj-column(width="66.666666%" vertical-align="top")
        mj-text(css-class="time-padding" color="#032E61" font-weight="400" font-size="14px" line-height="16px") Time
        mj-text
            a(href="https://mjml.io" class="button" style='margin:5px') Get a kitten
            a(href="https://mjml.io" class="button" style='margin:5px') Get a kitten
            a(href="https://mjml.io" class="button" style='margin:5px') Get a kitten
            a(href="https://mjml.io" class="button" style='margin:5px') Get a kitten
            a(href="https://mjml.io" class="button" style='margin:5px') Get a kitten