mj-wrapper(background-color="#FFFFFF" border-radius="1px")
    mj-section(padding="20px 20px")
        mj-column(width="50%" background-color="#E8E9EB")
            mj-image(src="https://info.helloalma.com/rs/894-SZP-051/images/6.png?version=0" alt="" width="350px" height="215px" padding="0")/
        mj-column(width="50%" background-color="#E8E9EB" vertical-align="middle")
            mj-text(font-size="14px" color="#353839" align="center" line-height="1.5")
                b Minim Yeniam
            mj-text(line-height="1.5" align="center") Tuesday, July 20 from 10-11am ET | Proper code usage helps to streamline the insurance claims process and reduce potential denials and audits due to incorrect coding.
            mj-button(background-color="green" align="center") Read More