mj-section(background-color="#DEDEDE" padding-top="0" padding-bottom="0" css-class="space")
    mj-column(css-class="card")
        mj-text(font-family="Inter, sans-serif" font-weight="500" font-size="22px" color="#000000" css-class="int") 
            h1(style="font-weight:700;font-size:32px;margin-top:0;") What's next?
            p $$SHOP-NAME will now fulfill the order as normal, and it should be coming any day now!
            p(style="margin-bottom:0;") You will also get an order confirmation email from the merchant with further details. Be sure to stay updated with the merchant for the latest information regarding your order.