//Icon
mj-section(background-color="#ffffff" padding-top="30px" padding-bottom="30px" padding-left="5px" padding-right="5px" border-radius="0 0 16px 16px")
    mj-group
        mj-column(css-class="separate" width="50%" padding="5px" inner-border="1px solid #000000" inner-border-radius="20px" vertical-align="middle")
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-top="20px" padding-bottom="6px" align="center" font-weight="600" padding-left="1px" padding-right="1px") Hi
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-bottom="20px" align="center" padding-top="0" padding-left="1px" padding-right="1px") &lt;10%
        mj-column(css-class="separate" width="50%" padding="5px" inner-border="1px solid #000000" inner-border-radius="20px" vertical-align="middle")
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-top="20px" padding-bottom="6px" align="center" font-weight="600" padding-left="1px" padding-right="1px") Hi
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-bottom="20px" align="center" padding-top="0" padding-left="1px" padding-right="1px") &lt;10%
    mj-group
        mj-column(css-class="separate" width="50%" padding="5px" inner-border="1px solid #000000" inner-border-radius="20px" vertical-align="middle")
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-top="20px" padding-bottom="6px" align="center" font-weight="600" padding-left="1px" padding-right="1px") Hi
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-bottom="20px" align="center" padding-top="0" padding-left="1px" padding-right="1px") &lt;10%
        mj-column(css-class="separate" width="50%" padding="5px" inner-border="1px solid #000000" inner-border-radius="20px" vertical-align="middle")
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-top="20px" padding-bottom="6px" align="center" font-weight="600" padding-left="1px" padding-right="1px") Hi
            mj-text(color="#000000" line-height="22px" font-size="14px" font-family="Montserrat, Helvetica, Arial" padding-bottom="20px" align="center" padding-top="0" padding-left="1px" padding-right="1px") &lt;10%
 
