mjml
    //- Head
    mj-head
        mj-title Snippets Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>

        mj-breakpoint(width='480px')
        mj-font(name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap")/
        mj-style.
            .space{
                padding: 30px !important;
            }
            .card {
                border: 1px solid red !important;
                border-radius: 6px !important;
            }
            .int{
                padding: 20px !important;
            }
            .button{
                background-color: #016ECC;
                border: none;
                border-radius: 24px;
                color: #FFFFFF;
                padding: 9px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 13px;
                font-weight:600;
            }
            @media only screen and (max-width:480px) {
                .space {
                    padding: 10px !important;
                }
                .int{
                    padding:10px !important;
                }
            }
    //- Body
    mj-body(background-color="#eeeeee")       
        //- content
        block content
        //- card
        block card
            include ../includes/_card
        //- buttons
        block buttons
            include ../includes/_buttons
        //- card 01
        block card01
            include ../includes/_card01